// Colors
$yellow: #f9d423;
$gray: #7f8c8d;
$red: #f85f40;
$green: #1abc9c;
$blue: #0faff1;
$orange: #f1540f;
$footer-bg-color: #2a2a2a;
$footer-color: #d9d9d9;
$font-color: #fff;
$main-bg-color: #000;
$buy-border-color: #d9d9d9;

// Sizes
$view-port: 1200px;
$nav-height: 60px;
$auth-height: 70px;

// Breakpoints
@mixin xs {
  @media (max-width: 575.98px) { @content; }
}
@mixin sm {
  @media (max-width: 767.98px) { @content; }
}
@mixin md {
  @media (max-width: 991.98px) { @content; }
}
@mixin lg {
  @media (max-width: 1199.98px) { @content; }
}
@mixin xl {
  @media (max-width: 1399.98px) { @content; }
}
