@import "partials/mixins";
@import "partials/params";

.drawer-menu {
  display: none;
  @include sm {
    display: block;
  }
}
.menu__btn.active {
  > span {
    transform: rotate(45deg);

    &::before {
      top: 0;
      transform: rotate(0);
      background-color: $main-bg-color;
    }

    &::after {
      top: 0;
      transform: rotate(90deg);
      background-color: $main-bg-color;
    }
  }
  }
.menu__box.active {
  visibility: visible;
  right: 0;
}


.menu__btn {
  display: flex;
  align-items: center;
  position: fixed;
  top: 20px;
  right: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 6;


  > span {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: $gray;
    transition-duration: .25s;

    &::before, &::after {
      display: block;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: $gray;
      transition-duration: .25s;
    }

    &::before {
      content: '';
      top: -8px;
    }

    &::after {
      content: '';
      top: 8px;
    }
  }
}

.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  right: -100%;
  width: 200px;
  height: 100%;
  margin: 0;
  padding: 40px 0;
  list-style: none;
  background-color: #ffffff;
  box-shadow: 1px 0 6px rgba(0, 0, 0, 0.2);
  transition-duration: .25s;
  opacity: .9;
  z-index: 5;
}

.menu__item {
  display: block;
  padding: 10px 24px;
  color: $main-bg-color;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: .25s;

  &:hover {
    background-color: #CFD8DC;
  }
}