@import "partials/mixins";
@import "partials/params";

.feature{
  background-color: #ffffff;

  &__content{
    display: flex;
    padding: 60px;
    @include sm {
      padding: 10px;
      flex-wrap: wrap;
    }
  }

  &__tile{
    @include flex-center;
    text-align: center;
    width: 25%;
    @include sm {
      width: 40%;
      margin: 0 auto;
      padding: 15px 0;
    }

    & .tile__icon{
      @include flex-center(row);
      margin-bottom: 20px;
      height: 50px;
      width: 50px;
      font-size: 20px;
      border-radius: 50px;
      color: #ffffff;

      &--yellow{background-color: $yellow;}
      &--gray{background-color: $gray;}
      &--blue{background-color: $blue;}
      &--orange{background-color: $orange;}
    }

    & .tile__title{
      font-weight: bold;
      margin-bottom: 10px;
    }
    & .tile__text{
      flex-grow: 1;
      text-align: center;
      opacity: .7;
    }
  }
}
