@import "partials/mixins";
@import "partials/params";

.footer {
  background-color: $footer-bg-color;
  color: $footer-color;
  padding-bottom: 20px;
  @include sm {
    padding-bottom: 0;
  }

  &__header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    border-bottom: 2px solid $footer-color;
  }

  &__brand {
    color: $footer-color;
    font-weight: bold;
    margin-left: 40px;
    @include sm {
      margin-left: 10px;

    }
  }

  &__nav {
    @include clear-list;
    display: flex;
    margin: 0 10px;
    font-size: 14px;
    @include sm {
      margin: 0;
      font-size: 13px;
    }

    & .nav__item {
      margin-top: 0;
      @include sm {
        margin: 0 7px;
      }
    }

    & .nav__link {
      text-transform: uppercase;
      color: $footer-color;
      transition: .2s all;

      &:hover {
        color: #ffffff;
      }
    }
  }

  &__content {
    display: flex;
    padding: 20px 0;
    line-height: 1.7;
    font-size: 12px;
    @include sm {
      padding: 0;
      flex-wrap: wrap;
      justify-content:space-around;
      //padding-bottom: 0;
    }
  }

  &__block {
    width: (100% / 3);
    padding: 20px;
    @include sm {
      padding: 10px;
      width: 40%;

    }
  }

  &__text {

  }

  &__map {
    display: flex;
    padding: 20px 30px;
    border-right: 1px solid $footer-color;
    border-left: 1px solid $footer-color;
    @include sm {
      justify-content: space-around;
      width:100%;
      border-right: none;
      border-left: none;
      border-top: 1px solid $footer-color;
      order: 3;

    }
  }

  &__list {
    @include clear-list;
    width: 35%;
    font-size: 13px;

    & .list__item {
      padding: 0 5px 5px;

      &:hover {
        color: #ffffff;

        .list__link {
          color: #ffffff;
          margin-left: 10px;
          transition: .3s;

        }
      }
    }

    & .list__icon {

    }

    & .list__link {
      margin-left: 5px;
      color: $footer-color;

    }
  }


  &__contact {
    @include sm {
      border-left: 1px solid $footer-color;
    }
    & .contact__icon {
      margin-right: 10px;
    }

    & .contact__item {
      margin-bottom: 5px;
      a {
        color: $footer-color;
      }
      &:hover {
        .contact__link {
          color: #ffffff;
        }
      }
    }
  }
}




