.about {
  background-color: #ffffff;
  padding: 40px;
}

.about__content {
  display: flex;
  padding-top: 20px;
}

.about__text {
  width: 50%;
  opacity: .7;
  font-size: 14px;
  padding-right: 20px;
  border-right: 3px dotted #d9d9d9;
}

.about__title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 15px;
}

.about__imgs {
  display: flex;
  width: 50%;
  justify-content: space-around;
}

.about__profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about__profile .profile__img {
  margin-bottom: 5px;
}

.about__profile .profile__name {
  font-weight: bold;
  margin-bottom: 5px;
}

.about__profile .profile__job {
  opacity: .6;
  margin-bottom: 5px;
}

.about__profile .profile__icon {
  opacity: .6;
  margin-right: 10px;
  cursor: pointer;
}

.about__profile .profile__icon:hover {
  color: blue;
}
.auth {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex: 0 0 70px;
}

.auth__link {
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
}
.buy {
  background-color: #fff;
}

.buy__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px;
}

.buy__title {
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 25px;
  opacity: .8;
}

.buy__subtitle {
  opacity: .6;
  margin-bottom: 50px;
  font-weight: normal;
}

.buy__input-wrapper {
  display: flex;
  width: 100%;
  margin: 0 auto 50px;
  padding: 5px;
  border: 1px solid #d9d9d9;
}

.buy__www {
  justify-content: center;
}

.buy__help {
  display: flex;
  align-items: center;
  width: 10%;
  opacity: .4;
}

.buy__input-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  border-right: 1px solid #d9d9d9;
  border-left: 1px solid #d9d9d9;
}

.buy__input {
  width: 100%;
  border: none;
  outline: none;
  padding: 10px;
}

.buy__domain {
  margin-right: 50px;
  opacity: .4;
}

.buy__select {
  justify-content: flex-end;
}

.buy__table {
  width: 900px;
}

.buy__table .table__row {
  display: flex;
}

.buy__table .table__row .table__cell {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 30px 50px;
  width: 25%;
  opacity: .4;
}

.buy__table .table__row .table__cell--top {
  border-bottom: 1px solid #d9d9d9;
  border-right: 1px solid #d9d9d9;
}

.buy__table .table__row .table__cell--bottom {
  border-right: 1px solid #d9d9d9;
}

.buy__table .table__row .table__cell--nrb {
  border-right: none;
}
.feature {
  background-color: #ffffff;
}

.feature__content {
  display: flex;
  padding: 60px;
}

.feature__tile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.feature__tile .tile__icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  height: 50px;
  width: 50px;
  font-size: 20px;
  border-radius: 50px;
  color: #ffffff;
}

.feature__tile .tile__icon--yellow {
  background-color: #f9d423;
}

.feature__tile .tile__icon--gray {
  background-color: #7f8c8d;
}

.feature__tile .tile__icon--blue {
  background-color: #0faff1;
}

.feature__tile .tile__icon--orange {
  background-color: #f1540f;
}

.feature__tile .tile__title {
  font-weight: bold;
  margin-bottom: 10px;
}

.feature__tile .tile__text {
  text-align: center;
  opacity: .7;
}
@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Bold.woff") format("woff"),url("../fonts/Roboto-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Light.woff") format("woff"),url("../fonts/Roboto-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Medium.woff") format("woff"),url("../fonts/Roboto-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff") format("woff"),url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 0 auto;
  color: #ffffff;
}

.header__title {
  font-size: 72px;
  font-weight: bold;
  margin-bottom: 15px;
}

.header__subtitle {
  font-style: italic;
  font-size: 32px;
}
html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.view-port {
  width: 1200px;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  background-color: #000;
}

.first-screen {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100vh;
  background: url("../img/header_bg.webp") no-repeat;
  background-size: cover;
}

.hide {
  display: none !important;
}
.nav {
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 0 0 60px;
  color: #fff;
  background: transparent;
}

.nav__brand {
  margin-left: 40px;
  font-weight: bold;
  font-size: 20px;
}

.nav__menu {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  height: 60px;
}

.nav__item {
  position: relative;
  margin: 22px 15px 5px;
  font-size: 12px;
}

.nav__item:hover .nav__menu-border {
  opacity: 1;
}

.nav__link {
  color: #fff;
}

.nav__menu-border {
  position: absolute;
  bottom: 0;
  display: block;
  height: 1px;
  width: 100%;
  opacity: 0;
  background-color: #fff;
  transition: .3s opacity;
}
.package {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  justify-content: center;
}

.package__tiles {
  display: flex;
  justify-content: space-around;
  margin-top: -300px;
  margin-bottom: 80px;
  height: 600px;
}

.package__tile {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 18%;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.package__tile:before {
  position: absolute;
  display: block;
  content: '';
  left: 0;
  top: 0;
  width: 100%;
  height: 3px;
}

.package__tile--yellow .item__value {
  color: #f9d423;
}

.package__tile--yellow .tile__cost {
  border-bottom-color: #f9d423 !important;
}

.package__tile--yellow:before {
  background-color: #f9d423;
}

.package__tile--gray .item__value {
  color: #7f8c8d;
}

.package__tile--gray .tile__cost {
  border-bottom-color: #7f8c8d !important;
}

.package__tile--gray:before {
  background-color: #7f8c8d;
}

.package__tile--red .item__value {
  color: #f85f40;
}

.package__tile--red .tile__cost {
  border-bottom-color: #f85f40 !important;
}

.package__tile--red:before {
  background-color: #f85f40;
}

.package__tile--green .item__value {
  color: #1abc9c;
}

.package__tile--green .tile__cost {
  border-bottom-color: #1abc9c !important;
}

.package__tile--green:before {
  background-color: #1abc9c;
}

.package__tile .tile__img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin: 15px auto;
}

.package__tile .tile__title {
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.package__tile .tile__list {
  padding: 0;
  margin: 0;
  list-style: none;
  padding: 20px 0;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

.package__tile .item__item {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.package__tile .item__item .item__key {
  opacity: .7;
}

.package__tile .tile__footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.package__tile .tile__cost {
  padding: 5px;
  margin-bottom: 10px;
  border-bottom: 3px solid;
}

.package__tile .tile__cost .cost__price {
  font-size: 20px;
  font-weight: bold;
}

.package__tile .tile__cost .cost__date {
  font-size: 10px;
  opacity: .7;
}

.package__tile .tile__plan {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
}

.package__border {
  border-bottom: 3px dotted #d9d9d9;
}
.slider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 190px;
  background: url("../img/comment_bg.webp");
  background-size: cover;
  color: #fff;
}

.slider__slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: .5s opacity;
}

.slider__quote {
  font-size: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.slider__info {
  display: flex;
}

.slider__icons {
  display: inline-flex;
  align-items: center;
  margin-left: 20px;
}

.slider__icon {
  position: relative;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  border: 1px solid #ffffff;
  margin: 2px 10px;
  cursor: pointer;
}

.slider__icon--active {
  background-color: #fff;
}